.test{
    background-color: rgb(29, 219, 219);
    height: 25em;
    width: 25em;

}

.pepe:hover{
    height: 25em;
    width: 25em;
    background-color: rgb(3, 39, 39);    
    transition: 5s;
    cursor: wait;
}

.pepe{
    height: 15em;
    width: 15em;
    background-color: rgb(206, 18, 18);    
    transition: 2s;

}